/* Контейнер контактної форми */
.contact-card {
    width: 300px;
    margin-left: 700px;
    margin-top: -250px;
    background-color: #fdfaf7;
    padding: 20px 30px;
    border-radius: 18px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}

/* Форма */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

    .contact-form label {
        font-size: 15px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: var(--form-text-color);
    }

    .contact-form input,
    .contact-form textarea {
        border: none;
        border-bottom: 2px solid #000;
        background: none;
        padding: 5px 0;
        outline: none;
        font-size: 14px;
    }

        .contact-form input:focus,
        .contact-form textarea:focus {
            border-bottom-color: #8a3ffc;
        }

    /* Кнопка відправки */
    .contact-form button {
        margin-top: 10px;
        padding: 10px;
        background-color: #000;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 15px;
        border-radius: 8px;
        transition: 0.2s;
    }

        .contact-form button:hover {
            background-color: rgba(0, 0, 0, 0.35);
        }
