.btn-primary {
    display: inline-block;
    padding: 12px 22px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.25s ease;
}

    .btn-primary:hover {
        background-color: rgba(0,0,0,0.35);
    }

.discount-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 800px;
    margin: 0 auto;
    align-items: start;
}

.discount-item {
    text-align: center;
}
        .discount-item img:hover {
            transform: scale(1.05);
        }

.discount-img-small {
    width: 100%;
    max-width: 200px;
}

.discount-img-large {
    width: 100%;
    max-width: 300px;
    margin-top: 50px;
}

.product-name {
    display: block;
    margin: 10px 0 5px;
    font-weight: 600;
}

.price {
    margin-top: 5px;
}

.new_price {
    color: red;
}

.old_price {
    color: slategray;
}
