/* Контейнер форми */
.login-card {
    width: 320px;
    margin: 30px auto;
    background-color: #fdfaf7;
    padding: 20px 30px;
    border-radius: 18px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}

/* Заголовок */
.login-title {
    text-align: center;
    margin-bottom: 15px;
    font-weight: 600;
    color: var(--form-text-color);
}

/* Форма */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

    /* Лейбли */
    .login-form label {
        font-size: 15px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: var(--form-text-color);
    }

        .login-form label.remember {
            flex-direction: row;
            align-items: center;
            gap: 8px;
        }

    /* Інпут */
    .login-form input {
        border: none;
        border-bottom: 2px solid #000;
        background: none;
        padding: 5px 0;
        outline: none;
        font-size: 14px;
    }

        .login-form input:focus {
            border-bottom-color: #8a3ffc;
        }

/* Кнопка */
.login-btn {
    margin-top: 5px;
    padding: 10px;
    background-color: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    border-radius: 8px;
    transition: 0.2s;
}

    .login-btn:hover {
        background-color: rgba(0,0,0,0.35);
    }

/* Посилання під формою */
.register-link {
    text-align: center;
    margin-top: -10px;
    font-size: 14px;
}

.login-form input.error {
    border-bottom-color: #ff3333 !important;
}

/* Текст помилки під полем */
.error-text {
    color: #ff3333;
    font-size: 12px;
    margin-top: -2px;
    margin-bottom: 5px;
}

/* Повідомлення про успішний вхід */
.success-msg {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid #c3e6cb;
    font-size: 14px;
}