/* Контейнер форми */
.cooperation-card {
    width: 400px;
    max-width: 90%;
    margin-top: -500px;
    margin-left: 855px;
    background-color: #fdfaf4;
    padding: 20px 30px;
    border-radius: 18px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}

    /* Заголовок */
    .cooperation-card h2 {
        text-align: center;
        margin-bottom: 15px;
        font-weight: 600;
        color: var(--form-text-color);
    }

    /* Форма */
    .cooperation-card form {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    /* Лейбли */
    .cooperation-card label {
        font-size: 15px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: var(--form-text-color);
    }

    /* Інпут і textarea */
    .cooperation-card input,
    .cooperation-card textarea {
        border: none;
        border-bottom: 2px solid #000;
        background: none;
        padding: 5px 0;
        outline: none;
        font-size: 14px;
        resize: none;
    }

        .cooperation-card input:focus,
        .cooperation-card textarea:focus {
            border-bottom-color: #8a3ffc;
        }

    /* Кнопка */
    .cooperation-card button {
        margin-top: 5px;
        padding: 10px;
        background-color: #000;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 15px;
        border-radius: 8px;
        transition: 0.2s;
    }

        .cooperation-card button:hover {
            background-color: rgba(0, 0, 0, 0.35);
        }

    /* Чекбокси у один рядок */
    .cooperation-card .checkbox-label {
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

/* Базово помилки приховані */
.error-msg {
    display: none;
    color: #d60000;
    font-size: 13px;
    margin-top: 3px;
}


