@import url("../css/image.css");
@import url("../css/register.css");
@import url("../css/login.css");
@import url("../css/contacts.css");
@import url("../css/partners.css");
@import url("../css/about.css");
@import url("../css/index.css");
@import url("../css/adapt.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

header {
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

    header nav {
        display: flex;
        gap: 20px;
    }

        header nav a {
            font-size: 16px;
            text-decoration: none;
        }

body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

h1, h2, h3, h4 {
    font-weight: 700;
}


main hr{
    width: 100%;
    max-width: 1300px;
}

/* Базове оформлення посилань */
a {
    color: #000;
    text-decoration: none;
    transition: 0.2s ease;
}

    a:hover {
        color: #8a3ffc;
    }
.discount-row {
    display: flex;
    justify-content: center;
    gap: 40px;
}

/* Стиль для iframe */
iframe {
    width: 100%;
    height: auto;
    min-height: 565px;
    border: none;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    background-color: #f2f2f2;
    flex-wrap: wrap;
    gap: 20px;
}

    footer div {
        min-width: 150px;
    }

    footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    footer p {
        flex-basis: 100%;
        text-align: center;
        margin-top: 20px;
    }

