
.background_main {
    width: 100%;
    height: 170px;
    object-fit: cover;
    margin-top: 20px;
}

.coming_soon {
    width: 300px;
    object-fit: cover;
}

.background_custom {
    background-image: url('../images/background_custom.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}

.logo {
    width: 450px;
    position: absolute;
    top: 100px;
    right: -22px;
}
